*{
    padding: 0;
    margin: 0;
    font-family: "Microsoft Yahei";
    font-size: 12px;
}

html,
body {
    height: 100%;
}

#myYoung{
    height: 100%;
}
#myYoung .bg {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
}

.page > .bg {
    width: 100%;
    height: 100%;
    position: absolute;
}

#disc {
    position: fixed;
    left: 2.899vw;
    top: 1.63vh;
    width: 15.7vw;
    height: 15.7vw;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
   /* background: red;*/
    z-index: 4;
}

#disc .disc_circle {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 15.7vw;
    height: 15.7vw;
    background: url("../images/disc_music/circle.png") no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

#disc #music {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 8.454vw;
    height: 8.454vw;
    background: url("../images/disc_music/music.png") no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
}

#disc #music.active {
    -webkit-animation: disc_music 5s linear infinite;
    -o-animation: disc_music 5s linear infinite;
    animation: disc_music 5s linear infinite;
}

@-webkit-keyframes disc_music { /*÷ªºÊ»›webkit“˝«Ê*/
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@keyframes disc_music {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#page1 {
    display: block;
}

#page1 .bg1 {
    width: 100%;
    height: 100%;
    background: url("../images/p1_01.png") no-repeat;
    background-size: cover;
}

#page1 .page1_circle {
    width: 36.23vw;
    height: 36.23vw;
    background: #71f4fc;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 27.174vh auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 60px #71f4fc;
    -moz-box-shadow: 0 0 60px #71f4fc;
    box-shadow: 0 0 60px #71f4fc;
    -webkit-animation: page1_circle 1s linear infinite;
    -o-animation: page1_circle 1s linear infinite;
    animation: page1_circle 1s linear infinite;
}

@-webkit-keyframes page1_circle {
    0% {
        -webkit-box-shadow: 0 0 20px #71f4fc;
        -moz-box-shadow: 0 0 20px #71f4fc;
        box-shadow: 0 0 20px #71f4fc;
        opacity: .6;
    }
    50% {
        -webkit-box-shadow: 0 0 35px #71f4fc;
        -moz-box-shadow: 0 0 35px #71f4fc;
        box-shadow: 0 0 40px #71f4fc;
        opacity: .7;
    }
    100% {
        -webkit-box-shadow: 0 0 50px #71f4fc;
        -moz-box-shadow: 0 0 50px #71f4fc;
        box-shadow: 0 0 60px #71f4fc;
        opacity: .8;
    }
}

@keyframes page1_circle {
    0% {
        -webkit-box-shadow: 0 0 20px #71f4fc;
        -moz-box-shadow: 0 0 20px #71f4fc;
        box-shadow: 0 0 20px #71f4fc;
        opacity: .6;
    }
    50% {
        -webkit-box-shadow: 0 0 35px #71f4fc;
        -moz-box-shadow: 0 0 35px #71f4fc;
        box-shadow: 0 0 40px #71f4fc;
        opacity: .7;
    }
    100% {
        -webkit-box-shadow: 0 0 50px #71f4fc;
        -moz-box-shadow: 0 0 50px #71f4fc;
        box-shadow: 0 0 60px #71f4fc;
        opacity: .8;
    }
}

#page1 .page1_text {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 34.65vh auto;
    text-align: center;
    font-size: 4.831vw;
    color: #fff;
}

#page2 {
    display: none;
}

/*#page2 .bg2 {
    background: url("../images/p2_01.png") no-repeat;
    background-size: cover;
}*/

#page2 .p2_bg_loading {
    background: url("../images/p2_01.png") no-repeat;
    background-size: cover;
    -webkit-animation: p2_bg_loading 1s linear;
    -o-animation: p2_bg_loading 1s linear;
    animation: p2_bg_loading 1s linear;
}
@-webkit-keyframes p2_bg_loading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes p2_bg_loading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#page2.fadeOut {
    -webkit-animation: fadeOut 2s linear;
    -o-animation: fadeOut 2s linear;
    animation: fadeOut 2s linear;
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

#page3 {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 100%;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}
#page3 .bg3 {
    background: url("../images/p3_01.jpg") no-repeat;
    background-size: cover;
}

#page3 .p3_circle {
    position: absolute;
    z-index: 5;
    width: 36.23vw;
    height: 36.23vw;
    background: url("../images/circle.png") no-repeat center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 96.618vw auto 0 auto;
}

#page3 .p3_circle.p3_circle_animation { /*—”≥Ÿ1s÷¥––*/
    -webkit-animation: p3_circle_animation 15s linear 1s infinite;
    -o-animation: p3_circle_animation 15s linear 1s infinite;
    animation: p3_circle_animation 15s linear 1s infinite;
}

@-webkit-keyframes p3_circle_animation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    30% {
        -webkit-transform: rotate(108deg) scale(1);
        -moz-transform:  rotate(108deg) scale(1);
        -ms-transform:  rotate(108deg) scale(1);
        -o-transform:  rotate(108deg) scale(1);
        transform:  rotate(108deg) scale(1);
    }
    40% {
        -webkit-transform: rotate(144deg)  scale(.8) rotateY(0deg);
        -moz-transform: rotate(144deg)  scale(.8) rotateY(0deg);
        -ms-transform: rotate(144deg)  scale(.8) rotateY(0deg);
        -o-transform: rotate(144deg)  scale(.8) rotateY(0deg);
        transform: rotate(144deg)  scale(.8) rotateY(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg)  scale(1) rotateY(180deg);
        -moz-transform: rotate(180deg)  scale(1) rotateY(180deg);
        -ms-transform: rotate(180deg)  scale(1) rotateY(180deg);
        -o-transform: rotate(180deg)  scale(1) rotateY(180deg);
        transform: rotate(180deg)  scale(1) rotateY(180deg);
    }
    60% {
        -webkit-transform: rotate(216deg) rotateY(0deg);
        -moz-transform: rotate(216deg) rotateY(0deg);
        -ms-transform: rotate(216deg) rotateY(0deg);
        -o-transform: rotate(216deg) rotateY(0deg);
        transform: rotate(216deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes p3_circle_animation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    30% {
        -webkit-transform: rotate(108deg) scale(1);
        -moz-transform:  rotate(108deg) scale(1);
        -ms-transform:  rotate(108deg) scale(1);
        -o-transform:  rotate(108deg) scale(1);
        transform:  rotate(108deg) scale(1);
    }
    40% {
        -webkit-transform: rotate(144deg)  scale(.8) rotateY(0deg);
        -moz-transform: rotate(144deg)  scale(.8) rotateY(0deg);
        -ms-transform: rotate(144deg)  scale(.8) rotateY(0deg);
        -o-transform: rotate(144deg)  scale(.8) rotateY(0deg);
        transform: rotate(144deg)  scale(.8) rotateY(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg)  scale(1) rotateY(180deg);
        -moz-transform: rotate(180deg)  scale(1) rotateY(180deg);
        -ms-transform: rotate(180deg)  scale(1) rotateY(180deg);
        -o-transform: rotate(180deg)  scale(1) rotateY(180deg);
        transform: rotate(180deg)  scale(1) rotateY(180deg);
    }
    60% {
        -webkit-transform: rotate(216deg) rotateY(0deg);
        -moz-transform: rotate(216deg) rotateY(0deg);
        -ms-transform: rotate(216deg) rotateY(0deg);
        -o-transform: rotate(216deg) rotateY(0deg);
        transform: rotate(216deg) rotateY(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}














